fastapi[all]
sqlalchemy 
uvicorn 
slowapi 
redis 
itsdangerous 
cryptography 
passlib 
pytz 
bleach 
fastapi-mail 
aiomysql 
boto3 
pdfkit 
logging 
update 
anyio 
click
alembic
pillow
celery
marshmallow
alembic
ruff
psycopg2
click